# For IDE
.idea
cmake-build-debug
out
portfolio.iml

# From CTCI
# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app




# Blocklist files/folders in same directory as the .gitignore file
#/*

# Includelist some files
#!.gitignore
#!.gitattributes
#!README.md

# Ignore all files named .DS_Store or ending with .log
# **/.DS_Store
# **.log

# Includelist folder/a/b1/ and folder/a/b2/
# trailing "/" is optional for folders, may match file though.
# "/" is NOT optional when followed by a *
#!./modules/
#./modules/*
#!./src/
#./src/*
